//COLORS
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$blue-950: hsl(229, 31%, 21%);
$blue-600: hsl(231, 69%, 60%);
$grey-600: hsl(228, 12%, 41%, 0.5);
$grey-50: hsl(0, 0%, 97%);
$red: hsl(0, 94%, 66%);

//TYPOGRAPHY
$font-family-Rubik: 'Rubik', sans-serif;

$font-weight-medium: 500;
$font-weight-regular: 400;

$line-height-small: 1.1;
$line-height-regular: 1.20;
$line-height-medium: 1.5;
$line-height-large: 2;
$line-height-xl: 3;

$letter-spacing-none: 0;
$letter-spacing-small: 0.25px;
$letter-spacing-medium: 0.5px;
$letter-spacing-large: 5px;

$font-style-italic: italic;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 32px;
$font-size-xxl: 48px;

//SPACING
$spacing-none: 0;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$spacing-900: 72px;
$spacing-1500: 120px;


